<suite name="SuiteName">
	
	<test name="Shortlist Test" allow-return-values="true">
		<classes>
			<class name="com.core.ddf.NoBroker.testcases.Shortlist" />
		</classes>
	</test>
	
	<test name="selectplan Test" allow-return-values="true">
		<classes>
			<class name="com.core.ddf.NoBroker.testcases.selectplanTest" />
		</classes>
	</test>
	
		
</suite>

