<suite name="SuiteName">
	
	<test name="ShortlistTest" allow-return-values="true">
		<classes>
			<class name="com.core.ddf.NoBroker.testcases.ShortlistTest" />
		</classes>
	</test>
	
		
</suite>

<suite name="SuiteName1">

<test name="selectplanTest" allow-return-values="true">
		<classes>
			<class name="com.core.ddf.NoBroker.testcases.selectplanTest" />
		</classes>
	</test>
	
</suite>	